<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>909786967507-i83fo39qljg26cnu6l7lre48v5s2jgtf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.909786967507-i83fo39qljg26cnu6l7lre48v5s2jgtf</string>
	<key>API_KEY</key>
	<string>AIzaSyAbrFzs9_z6jrNjBc383VJt9gzPT-hPwqY</string>
	<key>GCM_SENDER_ID</key>
	<string>909786967507</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.YazanArafeh.playersMeet</string>
	<key>PROJECT_ID</key>
	<string>playersmeet</string>
	<key>STORAGE_BUCKET</key>
	<string>playersmeet.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:909786967507:ios:4d3eccb4317cd26ce49326</string>
	<key>DATABASE_URL</key>
	<string>https://playersmeet-default-rtdb.firebaseio.com</string>
</dict>
</plist>