<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>417634473384-m3u99egej90p2hmfebrdtkhq9h36d4p6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.417634473384-m3u99egej90p2hmfebrdtkhq9h36d4p6</string>
	<key>API_KEY</key>
	<string>AIzaSyBbmwiWRryQ3EvGK0Y-PL0LtX7VlfiNcAk</string>
	<key>GCM_SENDER_ID</key>
	<string>417634473384</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.NadaZeini.playersMeetup</string>
	<key>PROJECT_ID</key>
	<string>sportsmeet-74528</string>
	<key>STORAGE_BUCKET</key>
	<string>sportsmeet-74528.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:417634473384:ios:5e0a9fd80358641928f99d</string>
	<key>DATABASE_URL</key>
	<string>https://sportsmeet-74528.firebaseio.com</string>
</dict>
</plist>